@font-face {
    font-family: 'als_rublregular';
    src: url('../fonts/rouble-webfont.eot');
    src: url('../fonts/rouble-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rouble-webfont.woff') format('woff'),
         url('../fonts/rouble-webfont.ttf') format('truetype'),
         url('../fonts/rouble-webfont.svg#als_rublregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.rubl {
    font-family: 'als_rublregular';
    font-style: normal;
    text-transform: none;
    font-size: 0.9em;
}

.complHidden
{
    display: none !important;
}

.search-results .oneCar img, .search-results .oneCar .prev_img {
    max-height: none;
}

.oneCar img{
    max-height: 190px;
    max-width:100%;
}
.oneCar h3{
    height: 45px;
    font-size: 18px;
        margin-top: 0px;
}

.obzor *
{
    max-width:100% !important;
}
.obzor 
{
    overflow-x: hidden;
        max-height: 450px;
    overflow-y: hidden;
}


.goToCompare{
    display: inline-block;
}
.container.page{
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 35px;
    padding-right: 35px;
}
.compareContent{
    overflow-x: auto;
    overflow-y: hidden;
}

.oneCompare{
    overflow:hidden;
}
.wrappTopCompare{
    height: 245px;
}
.topCompare{
    margin-left: 235px;
}
.toImg img{
    width: 200px;
    height: 150px;
}
.searchSelect.has-error{
    border: 1px solid red;
}
.whiteSpaceLogin{
    height: auto;
}
.topOffice .btn a{
    color: white;
}
#search-list
{
    background-color: white;
    position: absolute;
    width: 300px;
    padding: 0px;
    margin: 0px;
    list-style: none;
    top: 42px;
    display: none;
    box-shadow: -2px 2px 5px rgba(0,0,0,.45);
        z-index: 9999;
}

#search-list li.header
{
    font-family: 'PT Sans', sans-serif;
    text-align: left;
    padding: 6px 10px;
    line-height: 16px;
    font-size: 16px;
    font-weight: bold;
}

#search-list li
{
    line-height: 18px;
}
#search-list li a
{
    text-decoration: none;
    display: block;
}
#search-list li a:hover
{
    background-color: #E7E7E7;
}
#search-list li span
{
    position: relative;
    display: table-cell;
    text-align: left;
    color: #333;
        top: 0px;
    left: 0px;
        height: 50px;
        vertical-align: middle;

}

#search-list div.img
{
    line-height: 50px;
    display: table-cell;
    vertical-align: middle;   float: left;
    padding: 0px 10px;
    width: 80px;
    height: 50px;
}
#search-list div.img.svg
{
    line-height: normal;
    display: table-cell;
    vertical-align: middle;
    float: none;
}

#search-list div.img img
{
    max-width: 30px;
    max-width: 60px
}

.table-wrapper
{
    max-height: 335px;
    overflow-y: auto;
    margin-bottom: 10px;
    margin-top: 10px;
}

.oneCatLink {
    clear: none;
}

.searchHead {
     position: relative; 
     margin-bottom: 20px;
}

.catlogList {
    margin-right: 360px;
}

.prev_img
{
    max-height:190px;
    text-align:center;
}

.topOffice .btn a
{
    color: white;
}

.whiteSpace .dataGrid th.label
{
    color: black;
}

.wrappTopCompare {
    height: 240px !important;
}

#rights
{
        width: 100%;
}

#slider-range .ui-slider-range:last-child {
    /* background: transparent; */
    background: #f6931f;
}

#slider-range .ui-slider-range:first-child {
    background: transparent; 
}

.callBack .form-horizontal textarea
{
    height:200px;
}

.oneCarLike{
    color: black;
}
.oneCarLike.redLike{
    color: red;
}
.oneCarLike.redLike:before{
   content: "\e005";
}

#help .tab-content {
    margin-bottom: 0px;
    min-height: auto; 
}

.algorithm .alert-info
{
    background-color: transparent;
    text-align:center;
    border: 0px;
}

.algorithm div.inlineblock > div
{
    display: table-cell;
}

.algorithm div.inlineblock
{
    text-align: center;
}

.avtoTabs a.oneTab {
    margin: 0 12px 0 12px;
}

@media (max-width: 767px) and (min-width: 500px)
{
    .topPanel {
        overflow: visible !important;
        position: relative !important;
        text-align: center !important;
        line-height: 50px !important;
        height: 51px !important;
    }
}

.oneCarcase span {
    margin-top: -25px;
}

.onePriceCol {

    width: 300px;
}

.priceRow {
    width: 630px;

}

.grid-view td
{
        vertical-align: middle !important;
}

@media only screen and (max-width: 767px)
{
    div.table-wrapper {
        max-height:none;
    }
    .secondSingleCell
    {
        max-height: none !important;
    }
}

.scrollUp, .scrollDown
{
    display: none;
    position: absolute;
    border-right: 2px solid rgba(80,80,80,0.8);
    border-top: 2px solid rgba(80,80,80,0.8);
    height:20px;
    width:20px;
}
.scrollUp:hover, .scrollDown:hover
{
    border-right: 2px solid rgba(80,80,80,0.7);
    border-top: 2px solid rgba(80,80,80,0.7);
}
.scrollUp:active, .scrollDown:active
{
    border-right: 2px solid rgba(80,80,80,0.5);
    border-top: 2px solid rgba(80,80,80,0.5);
}

.obzor
{
    position: relative;
}

.inner-obzor
{
    max-height:410px;
    overflow:hidden;
}
.scrollUp
{
    -moz-transform:rotate(315deg);
    -webkit-transform:rotate(315deg);
    -o-transform:rotate(315deg);
    -ms-transform:rotate(315deg);
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(SizingMethod='auto expand', M11=0.7071067811865476, M12=0.7071067811865475, M21=-0.7071067811865475, M22=0.7071067811865476)";
    top: 20px;
    right: 20px;
}
.scrollDown
{
        -moz-transform:rotate(135deg);
        -webkit-transform:rotate(135deg);
        -o-transform:rotate(135deg);
        -ms-transform:rotate(135deg);
        -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(SizingMethod='auto expand', M11=-0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=-0.7071067811865476)";   
    bottom: 20px;
    right: 20px;
}


/* __________Dealers Feedback Steps Form ________*/

#offerFromDealer .modal-dialog {
    max-width: 750px;
    width: 100%;
}

#offerFromDealer .modal-content {
   padding: 10px 5px 15px;
}

.stepwizard-step p {
    margin-top: 10px;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    left: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
}

.stepwizard-step {
    text-align: center;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

ul.colorsChar {
    list-style-type: none;
    text-align: center;
    margin-top: 15px;
    padding: 0;
}

ul.colorsChar li {
    display: inline-block;
    width: 28px;
    height: 28px;
    background: #fcfff4;
    margin: 12px auto;
    position: relative;
}

ul.colorsChar li input[type="checkbox"] {
    visibility: hidden;
}

ul.colorsChar li label {
    cursor: pointer;
    position: absolute;
    width: 28px;
    height: 28px;
    left: 0;
    top: 0;
}

ul.colorsChar li.colorsCharItem13 label {
    background: #FF0000;
}

ul.colorsChar li.colorsCharItem14 label {
    background: grey;
}

ul.colorsChar li.colorsCharItem15 label {
    background: #000000;
}

ul.colorsChar li.colorsCharItem16 label {
    background: #5B9BD5;
}

ul.colorsChar li.colorsCharItem17 label {
    background: #ADB4BC;
}

ul.colorsChar li.colorsCharItem18 label {
    background: #515151;
}

ul.colorsChar li label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    content: '';
    position: absolute;
    width: 28px;
    height: 28px;
    border: 2px solid black;
    top: 0;
    left: 0;
    -webkit-box-shadow: inset 0px 0px 4px #fff, 0px 1px 4px rgba(0,0,0,0.7);
    -moz-box-shadow: inset 0px 0px 4px #fff, 0px 1px 4px rgba(0,0,0,0.7);
    box-shadow: inset 0px 0px 4px #fff, 0px 1px 4px rgba(0,0,0,0.7);
}

ul.colorsChar li label:hover::after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: 0.3;
}

ul.colorsChar li input[type=checkbox]:checked + label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}

.filterChar {
    margin-top: 12px;
}

#offerFromDealer button.close {
    font-size: 35px;
}

.inputColorAny .input-group {
    margin: 0 auto;
}

.inputColorAny label, .inputColorAny .input-group-addon {
    width: auto;
}

#offerFromDealer .singleTableLeft b {
    font-size: 16px;
    color: #000;
}

#offerFromDealer .STRLeft span {
    color: #555;
    float: left;
}

#offerFromDealer .modal-body {
    padding-left: 0;
    padding-right: 0;
}

#offerFromDealer .inputComment label {
    border: none;
    margin-bottom: 15px;
}

#offerFromDealer .inputComment textarea {
    height: 100%;
}

@media screen and (max-width: 750px) {
    #offerFromDealer .modal-dialog {
        width: auto;
    }
}